---
import SectionTitle from "./SectionTitle.astro"

import translate from '../locales/translation.json'

const { pathname } = Astro.url;
const lang = pathname.split('/')[1]
const currentLang = translate[lang] || translate["en"]
const t = currentLang.workDirections
---

<section class="bg-gray-50">
  <div class="layout-wrapper">
    <SectionTitle title="Work Directions"/>
    <div class="flex justify-center gap-10 flex-wrap">
      <div class="max-w-32 text-wrap">
        <h4 class="text-2xl text-gray-900">/01</h4>
        <p>{t.section01}</p>
      </div>  
      <div class="max-w-32 text-wrap">
        <h4 class="text-2xl text-gray-900">/02</h4>
        <p>{t.section02}</p>
      </div>  
      <div class="max-w-32 text-wrap">
        <h4 class="text-2xl text-gray-900">/03</h4>
        <p>{t.section03}</p>
      </div>  
      <div class="max-w-32 text-wrap">
        <h4 class="text-2xl text-gray-900">/04</h4>
        <p>{t.section04}</p>
      </div>  
    </div> 
  </div>
</section>